body {
  background-image:url(https://image.shutterstock.com/image-photo/perspective-view-jet-airliner-flight-260nw-428773543.jpg);
  background-size:cover;
  background-attachment: fixed;
}
.content{
    background:white;
    width: 50%;
    padding:40px;
    margin: 100px auto;
}
a {
  color:#ffffff
}    




   
